<div class='text-center items-center'>
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p><i>Written by {{user.name}} on {{format_date date_created}}</i></p>
  {{#each comments as |comment|}}
    <div>
      <p>{{comment.message}}
        <div class='text-info'><i>Submitted by
            {{user.name}}
            on
            {{format_date comment.date_created}}</i></div>
        <div>{{comment.title}}</div>
      </p>
    </div>
  {{/each}}

  {{#if logged_in}}
    <form class='form new-comment-form' data-id='{{id}}'>
      <div class='form-group'>
        <label for='comment-desc'>Add a Comment:</label>
        <input value='{{id}}' type='hidden' name='post_id' />
        <textarea
          class='form-input'
          type='text'
          id='comment-desc'
          name='comment-desc'
        ></textarea>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-style'>Post comment</button>
      </div>
    </form>
  {{else}}
    <h3 class='new-comment-form text-info'>Login to submit comments</h3>
  {{/if}}
</div>

<script src='../js/comment.js'></script>