<div class='text-center'>
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p><i>Written by {{user.name}} on {{format_date date_created}}</i></p>
  {{#each comments as |comment|}}
    <p>{{comment.message}}
      <span class='text-info'>Submitted by
        {{comment.user.name}}
        on
        {{format_date comment.date_created}}</span>
    </p>
  {{/each}}

  {{#each comments as |comment|}}
    <div>{{comment.title}}</div>
  {{/each}}
  {{#if logged_in}}
    <form class='form new-comment-form' data-id='{{id}}'>
      <div class='form-group'>
        <label for='comment-desc'>Add a Comment:</label>
        <input value='{{id}}' type='hidden' name='post_id' />
        <textarea
          class='form-input'
          type='text'
          id='comment-desc'
          name='comment-desc'
        ></textarea>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-style'>Post comment</button>
      </div>
    </form>
  {{else}}
    <h3 class='new-comment-form text-info'>Login to submit comments</h3>
  {{/if}}
</div>

<script src='../js/comment.js'></script>